@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body,html {
    margin:  0px;
    padding: 0px;
    max-width: 100vw;
    font-family: Montserrat, 'Courier New', Courier, monospace;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    color: #7289D9;
    scroll-behavior: smooth;
}


body,html::-webkit-scrollbar {
    width: 0 !important
}

h1 {
    width: 100vw;
    text-align: center;
    margin: 0;
    box-sizing:border-box;
    padding: 32px 8px;
}
#main-body p{
    margin: auto;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.div-fs {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#Hero {
    padding-top: 70px;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    padding-bottom: 150px;
}

.ch-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-blue {
    color: #7289D9;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.w-50 {
    width: 50vw;
}

.text-center {
    text-align: center;
}

#server-statistics-box {
    pointer-events: none; 
    width: 100%;
    min-height: 700px;
    position: absolute;
    top: calc(100vh - var(--server-statistics-box));
    right: 0;
    mask-image: url('stastics-bg.png');
    -webkit-mask-image: url('stastics-bg.png');
    background-image: linear-gradient(
        to bottom right,
        #7157C7,
        #D774F5
      );
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#server-statistics-box img {
    visibility: hidden;
    box-sizing:border-box;
    width: 100vw;
}

div #hero {
    position: absolute;
}

#server-statistics-box div {
    pointer-events: auto; 
    position: absolute;
    top: var(--server-statistics-box);
    left: calc(50vw - 50%);
    display: flex;
    flex-direction: column;
}

#server-statistics-box div ul {
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    width: calc(100vw - 100px);


    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 20px;
    color: white;
}

#server-statistics-box div ul li {
    display: inline;
    width: 200px;
    text-align: center;
}

nav {
    position: fixed;
    top:0;
    height: 70px;
    padding: 8px 64px;
    width: 100vw;
    background-image: linear-gradient(
        to bottom right,
        #7157C7,
        #D774F5
      );
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    box-sizing:border-box;
    box-shadow: #7157C7 0px 2px 16px;
    z-index: 999;
}

nav .navInner {
    width: calc(100vw - 128px);
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    box-sizing:border-box;
}

nav .navInner .brand {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    box-sizing:border-box;
    color: white;
}

nav .navInner .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    box-sizing:border-box;
}

nav .navInner .links ul {
    list-style: none;
    display: inline-block;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    box-sizing:border-box;
}

nav .navInner .links ul li {
    display: inline-block;
    margin: 8px;
    box-sizing:border-box;
}
nav .navInner .links ul li a {
    text-decoration: none;
    color: white;
    box-sizing:border-box;
}

nav div div img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-sizing:border-box;
}


button {
    padding: 16px 24px;
    margin: 4px;
    font-size: medium;
    border-radius: 12px 20px;
    border: none;
    background-color: white;
    color: #7157C7;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.button-wrapper {
    background: linear-gradient(
        to bottom right,
        #7157C7,
        #D774F5
    );
    border-radius: 16px 24px;
}

#statistics-margin {
    height: calc(var(--top-div-padding));
    margin-top: 100vh;
    width:100vw;
}