@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@media (max-width: 1400px) {
@media (min-width: 992px) {
    .fs-lg {
        width: calc(100vw - 32px);
        height: calc(100vh - 16px);
        margin-top: 64px;
        overflow: wrap;
    }

    .fs-lg:nth-of-type(1) {
        height: calc(100vh - 64px);
        margin-top: 0px;
    }

    .fs div{
        padding-left: 32px;
        padding-right: 32px;
    }

    .w50-lg {
        width: 50%
    }

    .h50-lg {
        height: 50%
    }

    .vc-lg {
        display: flex;
        align-items: center;
    }

    .vc-lg div {
        padding-left: 32px;
        padding-right: 32px;
    }

    .vt-lg {
        display: flex;
        align-items: flex-start;
        margin-top: 64px;
    }

    .vt-lg div {
        padding-left: 32px;
        padding-right: 32px;
    }

    .hc-lg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hc-lg div {
        padding-left: 32px;
        padding-right: 32px;
    }

    .wrap-50{
        width: 50vw;
        flex-wrap: wrap;
    }

    .icon-btn-lg {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-decoration: none;
        border-radius: 32px;
        border: 1px solid rgba(255,255,255,0.1);
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: 50ms;
        background-color: var(--data-bg);
        color: #dcffff;
        box-shadow: 0px 4px 8px 0rem var(--data-shadow);
        font-weight: 600;
        font-size: 1.5em;
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-btn-lg * {
        width: 36px;
        height: 36px;
    }

    .icon-linear-lg {
        display: flex;
        flex-direction: row;
    }
    
    .col-lg {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }

    .col-lg ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    
    .col-lg ul li {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.1em;
    }
    .col-lg ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
    }
    
    .row-lg {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
    }
    
    .row-lg ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    
    .row-lg ul li {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.1em;
    }
    
    .row-md ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
    }
}
}